<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty-fyi</title>
  <meta name="description">
  <link rel="stylesheet" href="css/stripeAddCard.css">
  <script src="https://js.stripe.com/v3/"></script>
  
  <script>
      //var stripe = Stripe('pk_test_51HsVnrJoko9usn1WKaaJyUNyB5ItGl1PH2OueBSU9PZXKhuoSsHVVx1uaGlDEL2ENDxQYedzyN5BnC6v9iZaiQRJ00zFV7ISvs');
  </script>

</head>

<body>
    <form action="/addCard" method="post" id="payment-form">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-price_1I9xizJoko9usn1W9nCpOLxm"
  role="link"
  type="button"
>
  Checkout
</button>

<div id="error-message"></div>

</body>
  
<script src="js/stripeAddCard.js"></script>