<h2> Your appointment is confirmed. </h2>
<p>
Our appointment is confirmed. Thanks for scheduling!
  <br />
  -------------------------
  <br />
  What
  <br />
 Appointment with {{ stylist }}
  <br />
 When
  <br />
{{ Date }}
  <br />
{{ time }} GMT
  <br />
Where
  <br />
{{ location }}
  <br />
Reschedule [1]
  <br />
 Cancel appointment [2]
  <br />
  -------------------------
  <br />
  powered by Keap Appointments [3]
</p>
