<h2> Your appointment is tomorrow. </h2>
<p>
  Hi {{ username }},
  <br />
 A friendly reminder our appointment is tomorrow.
  <br />
 Looking forward to meeting with you.
  <br />
 What
  <br />
 Appointment with {{ stylist }}
  <br />
 When
  <br />
{{ Date }}
  <br />
{{ time }} GMT
  <br />
Where
  <br />
{{ location }}
  <br />
Reschedule [1]
  <br />
 Cancel appointment [2]
  <br />
  powered by Keap Appointments [3]
</p>
