<h2> Your appointment on {{ date }} has been updated </h2>
<p>
  Details of our appointment have been updated.
  <br />
  -------------------------
  <br />
 What
  <br />
 Appointment with {{ stylist }}
  <br />
 When
  <br />
{{ Date }}
  <br />
{{ time }} GMT
  <br />
Where
  <br />
{{ location }}
  <br />
Reschedule [1]
  <br />
 Cancel appointment [2]
  <br />
  -------------------------
  <br />
  powered by Keap Appointments [3]
</p>
