PropertyEditor {
    border-color: #b34040b9;
    border-width: 0;
}



DataFormEditorLabel[type='Switch'] { /* Might need to remove type=switch */
    font-size: 18;
    border-color: #bd5252a8;
    border-width: 0;
}

DataFormEditorCore {
    border-color: #974b4b;
    border-width: 0;
    font-size: 18;
}

